.zg-link-button {
  height: 150px;
  width: 150px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 22px;
  background: white;
}

.zg-link-modal {
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .zg-link-in-modal {
    background: white;
  }
  .zg-cancel-modal {
    background: white;
  }
}

@media only screen and (min-width: 400px) {
  .zg-modal {
    height: 500px;
    width: 500px;
  }
}
