.zg-search-container {
  margin: 200px 30px;
  .zg-paper {
    // width: 450px;
    padding: 12px 10px 0 10px;
    margin: 5px;
    text-align: center;
  }
  margin: 30px;
  .zg-search-input {
    outline: none;
    border-radius: 25px;
    margin: 20px 0;
    font-size: 18px;
    padding: 8px 8px;
    border: rgb(155, 155, 155) 2px solid;
  }
  .zg-search-button {
    cursor: pointer;
  }
  .zg-result-container {
    margin-top: 5px;
    padding: 10px 10px 0 10px;
    border-top: solid 1px rgb(101, 101, 101);
    text-align: left;
    .zg-found-movie {
      margin: 5px;
      .zg-found-movie-title {
        font-weight: bold;
      }
    }
    .zg-searched-episodes {
      margin: 5px;
    }
  }
}

@media only screen and (min-width: 501px) {
  .zg-search-container {
    margin: 30px 200px;
    .zg-paper {
      // width: 450px;
      padding-top: 12px;
      margin: 15px;
    }
    .zg-search-input {
      padding: 8px 15px;
      margin: 20px;
    }
    .zg-search-button {
    }
    .zg-result-container {
      .zg-found-movie {
        .zg-found-movie-title {
        }
      }
      .zg-searched-episodes {
      }
    }
  }
}
