.zg-search-container {
  padding-bottom: 40px;
  margin: 30px;
  .zg-search-input {
    outline: none;
    border-radius: 25px;
    margin: 20px;
    font-size: 18px;
    padding: 8px 8px 8px 20px;
    border: rgb(155, 155, 155) 2px solid;
  }
  .zg-search-button {
    cursor: pointer;
  }
  .zg-result-container {
    margin-top: 5px;
    padding: 10px 10px 0 10px;
    border-top: solid 1px rgb(101, 101, 101);
    text-align: left;
    .zg-found-movie {
      margin: 5px;
      .zg-found-movie-title {
        font-weight: bold;
      }
    }
    .zg-searched-episodes {
      margin: 5px;
    }
  }
}


@media only screen and (min-width: 501px) {
  .zg-search-container {
    margin: 30px 200px;
    .zg-search-input {
    }
    .zg-search-button {
    }
    .zg-result-container {

      .zg-found-movie {
        .zg-found-movie-title {

        }
      }
      .zg-searched-episodes {
      }
    }
  }
}
