.zg-footer-container {
    text-align: center;
    height: 40px;
    border-top: 1px rgb(111, 111, 111) solid;
    .zg-footer-header {
        padding-bottom: 30px;
        font-weight: lighter;
        font-size: 12px;
    }

}