.zg-movie-poster {
    margin-top: 10px;
    height: 250px;
    width: 169px;
    border-radius: 4px;
}

.zg-movie-title {
    margin: auto;
    padding: 5px 0;
    top: 15%;
    width: 80%;
    height: 50%;
    color: white;
    overflow: hidden;
  }