.zg-movie-data-container:hover {
  cursor: pointer;
}

.zg-movie-data-container {
  border: none;
  background: none;
  padding: 0;
  margin: 0;

  .zg-movie-poster {
    height: 90%;
    border-radius: 4px;
  }
}

.zg-movie-data-modal {
  max-height: 700px;
  min-height: 400px;
  width: 312px;
  display: flex;
  flex-direction: column;
  background: rgb(249, 249, 249);

  .zg-poster-and-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;
    .zg-modal-poster {
      margin: 14px 10px 14px 10px;
      border-radius: 7px;
      height: 150px;
      width: 100px;
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    }

    .zg-modal-data {
      background: rgb(244, 244, 244);
      box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
        0px 6px 10px 0px rgba(0, 0, 0, 0.14),
        0px 1px 18px 0px rgba(0, 0, 0, 0.12);
      border-radius: 4px;
      margin: 0 20px;
      .zg-movie-ratings {
        background: rgb(232, 232, 232);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 5px;
        border-bottom: 1px solid rgb(155, 155, 155);
        font-size: 14px;

        .zg-movie-rating {

          white-space: normal;
          display: flex;
          flex-direction: column;
          padding: 0 4px;
          height: 40px;
          .zg-rating-value {
            padding-bottom: 8px;
          }
          .zg-rating-source {
          }
        }
      }
      .zg-movie-instances {
        margin-top: 8px;
        justify-content: center;
        .zg-timespan-header {
          .zg-movie-title {
            text-decoration: underline;
          }
          margin: 0 5px;
        }
        .zg-timestamps {
          .zg-timestamp {
            border-bottom: 1px solid rgb(165, 165, 165);
            padding-bottom: 10px;
            .zg-episode-reference {
              text-align: left;
              margin: 3px 0 5px 3px;
              padding: 0 10px;
              display: flex;
              flex-direction: column;
              // justify-content: space-evenly;
              .zg-season-number {
                text-align: left;
                text-decoration: underline;
              }
              .zg-episode-name {
                font-weight: lighter;
                font-size: 14px;
                margin-bottom: 5px;
              }
              .zg-timestamp-link {
                box-shadow: 0px 3px 0px -1px rgba(0, 0, 0, 0.2),
                  0px 6px 10px 0px rgba(0, 0, 0, 0.14),
                  0px 1px 1px 0px rgba(0, 0, 0, 0.12);
                font-size: 12px;
                background: red;
                color: white;
                border-radius: 5px;
                padding: 5px;
                text-decoration: none;
                text-align: center;
              }
            }
          }
        }
      }
    }
  }
  .zg-cancel-modal {
    box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
      0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
    text-align: center;
    border: none;
    background: none;
    font-size: 15px;
    height: 40px;
    border-radius: 5px;
    margin: 10px 100px 10px 100px;
    background: rgb(249, 249, 249);
  }
}

@media only screen and (min-width: 501px) {
  .zg-movie-data-container {
    max-width: 169px;
    margin-top: 10px;
    .zg-movie-poster {
      height: 250px;
      width: 169px;
    }
  }

  .zg-movie-data-modal {
    justify-content: space-evenly;
    width: 600px;
    height: 450px;
    .zg-poster-and-data {
      flex-direction: row;
      margin-right: 20px;
      .zg-modal-poster {
        box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2),
          0px 6px 10px 0px rgba(0, 0, 0, 0.14),
          0px 1px 18px 0px rgba(0, 0, 0, 0.12);
        margin: 20px;
        height: 300px;
        width: 200px;
      }

      .zg-modal-data {
        .zg-movie-ratings {
          // border: none;
          .zg-movie-rating {
            flex-direction: column;
            .zg-rating-value {
            }
            .zg-rating-source {
            }
          }
        }
        .zg-movie-instances {
          .zg-timespan-header {
            .zg-movie-title {
              text-decoration: underline;
            }
          }
          .zg-timestamps {
            .zg-timestamp {
              .zg-episode-reference {
                margin-bottom: 5px;
                // justify-content: center;
                .zg-season-number {
                }
                .zg-episode-name {
                }
                .zg-timestamp-link {
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
    }
    .zg-cancel-modal {
      padding: 5px;
      margin: 10px 200px;
    }
  }
}
