.zg-search-container {
  padding-bottom: 40px;
  margin: 30px;
  .zg-search-input {
    outline: none;
    border-radius: 25px;
    margin: 10px;
    font-size: 18px;
    padding: 8px;
    border: rgb(155, 155, 155) 2px solid;
  }
  .zg-search-button {
    cursor: pointer;
  }

}

@media only screen and (min-width: 501px) {
}
