.zg-top-section {
  text-align: center;
  .zg-block-holder {
    padding-top: 30px;
    .zg-logo-block {
    }
    .zg-about-platforms {
      // padding: 15px 0 15px 0;
      margin: 15px 10px 15px 10px;
      border-radius: 4px;

      .zg-about {
        margin: 0 10px 10px 10px;
      }

      .zg-discord-link {
        padding: 5px 8px;
        border-radius: 4px;
        color:white;
        background: #7289DA;
        text-decoration: none;
      }
      .zg-block-holder {
      }
    }
  }
}

.zg-search-section {
  text-align: center;
}

.zg-move-list-section {
  text-align: center;
}

@media only screen and (min-width: 501px) {
  .zg-top-section {
    .zg-block-holder {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      .zg-about {
        width: 500px;
      }
      .zg-logo-block {
      }
      .zg-about-platforms {
        padding: 0;
        .zg-platform-block {
          .zg-block-holder {
          }
        }
      }
    }
  }
}
