html {
  background: rgb(247, 247, 247);
  color: rgb(69, 69, 69);
}

body {
  margin: 0;
  font-family: "Arial";
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
