.zg-movie-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  .zg-movie {
    border-radius: 4px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background: white;
    width: 200px;
    height: 50px;
    margin: 10px 0 0 0;
    .zg-movie-title {
      margin: auto;
      position: relative;
      top: 15%;
      width: 80%;
      height: 50%;
    }
  }
}

@media only screen and (min-width: 501px) {
  .zg-movie-container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
  }
}
